<body class="job_details">
<div class="job_details_header">
	<h1>Job Details</h1>
</div>
<div class="job_details_section">
  <strong>Role:</strong>
  <%= @job.role %>
</p>

<p>
  <strong>Project:</strong>
  <%= @job.project %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<%= link_to 'Back', jobs_path %> |
<%= link_to 'Apply', apply_to_job_path(@job), method: :post %>
</div>
</body>