<p id="notice"><%= notice %></p>

<h1>Applied Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Resume</th>
      <th>Cover letter</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applied_jobs.each do |applied_job| %>
      <tr>
        <td><%= applied_job.resume %></td>
        <td><%= applied_job.cover_letter %></td>
        <td><%= applied_job.text %></td>
        <td><%= link_to 'Show', applied_job %></td>
        <td><%= link_to 'Edit', edit_applied_job_path(applied_job) %></td>
        <td><%= link_to 'Destroy', applied_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applied Job', new_applied_job_path %>
