<p id="notice"><%= notice %></p>
<p>
  <strong>Resume:</strong>
  <%= @applied_job.user.resume %>
</p>

<p>
  <strong>Cover letter:</strong>
  <%= @applied_job.user.cover_letter %>
</p>

<p>
  <strong>Text:</strong>
  <%= @applied_job.text %>
</p>

<%= link_to 'Edit', edit_applied_job_path(@applied_job) %> |
<%= link_to 'Back', applied_jobs_path %>
